.main-page {
  height: auto;
  display: flex;
  flex-direction: column;
}
.header-box {
  display: flex;
  height: 80px;
  width: 100%;
  background-color: #17368a;
  padding-top: 60px;
}
.header-title {
  display: flex;
  justify-content: center;
  height: 90px;
  width: 90%;
  color: white;
  font-size: 70px;
  padding-left: 80px;
  font-family: sans-serif;
}
.logout-button-box {
  display: block;
  height: 90px;
  width: 10%;
}

.footer {
  background-color: #17368a;
  height: 50px;
  display: flex;
  justify-content: center;
  padding-top: 30px;
  color: white;
  font-size: 40px;
}
