<main class="main-page">
    <header class="header-box">
        <div class="header-title">TO DO LIST</div>
        <div class="logout-button-box">
            <button class="logout-button" mat-fab color="primary" aria-label="Icon button with a logout icon" [routerLink]="['/login']">
        <mat-icon>power_settings_new</mat-icon>
      </button>
        </div>
    </header>

    <app-input (eventTask)="handleEventTask($event)"></app-input>
    <app-list [allTasks]="tasks$ | async" (dropedTask)="getDroppedTask($event)" (taskToDelete)="deleteTask($event)"></app-list>

    <footer class="footer">{{ user }}</footer>
</main>