
.input-box {
    display: flex;
    justify-content: center;
    background-color: pink;
    height: 60px;
  }
  .input {
    padding-top: 5px;
    width: 500px;
  }
  .add-button {
    align-self: center;
    height: 40px;
  }