:host {
    height: 100vh;
    display: flex;
  }
  
.main-register-box {
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.sing-up {
  display: flex;

  &__header {
    display: inline-flex;
    font-size: 30px;
    height: 50px;
    gap: 40px;
  }
  &__title {
    text-align: center;
    width: 150px;
    display: inline-block;
    position: relative;
    margin-bottom: 20px;
    border-bottom: 3px solid #17368a;

  }
  &__sing-in {
    text-align: center;
    width: 150px;
    display: inline-block;
    position: relative;
    margin-bottom: 20px;
  }
  &__input-box {
    display: flex;
    flex-direction: column;
    width: 300px;
  }
  &__login-input {
    text-align: center;
  }
  &__password-input {
    text-align: center;
  }
  &__button {
    margin-top: 30px;

    width: 80px;
  }
}

.sing-up__sing-in:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: #17368a;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.sing-up__sing-in:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}




