
.error-box {
    display: flex;
    flex-direction: column;
    height: 700px;

   

}
.error-404 {
    margin-top: 200px;
    text-decoration: solid;
    display: flex;
    justify-content: center;
    height: 300px;
    font-size: 270px;
    font-family: sans-serif;


}
.error-text {
    display: flex;
    justify-content: center;
    height: 100px;
    font-size: 50px;
}
.error-button {
    display: flex;
    align-self: center;
    align-items: center;
    height: 40px;
    width: 95px;
}